@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
   /*main colors*/
  --midnight: #0c0c21;
  --deep-sea: #091531;
  --primary-blue: #121e3a;
  --lake: #1d2d54;
  --evening-blue: #5e89ee;
  --dull-blue: #737e99;
  --gold: #C99A54;
  --hover-gold: #b1751b;
  
  /*contextual color defs*/
  --text-main: #f1f5fd;
  --heading-main: #f1f5fd;
  --text-secondary: var(--dull-blue);
  --heading-secondary: var(--dull-blue);
  --text-accent: var(--evening-blue);
  --heading-accent: var(--evening-blue);
  --links-main: var(--gold);
  --links-hover: var(--evening-blue);
  --text-failure: var(--failure);
  --text-failure-light: var(--failure-light);
  --text-success: var(--success);
  --text-success-light: var(--success-light);
  --text-warning: var(--warning);

  --button-primary: var(--success);
  --button-secondary: var(--lake);
  --button-failure: var(--failure);
  --button-accent: var(--warning);

  --borders-main: var(--gold);
  --borders-secondary: var(--dull-blue);
  --borders-accent: var(--evening-blue);
  --borders-failure: var(--failure);
  --borders-success: var(--success);
  --borders-dark: var(--deep-sea);

  --background-primary: var(--midnight);
  --background-secondary: var(--deep-sea);
  --foreground-primary: var(--primary-blue);
  --foreground-secondary: var(--lake);

  /*rank colors*/
  --iron: #484443;
  --bronze: #7c574a;
  --silver: #6d7376;
  --platinum: #41c1b2;
  --diamond: #426dc5;
  --master: #a156a8;
  --grandmaster: #99404c;
  --challenger:#dfc154;

  /*success - failure colors*/
  --success: #52e58b;
  --success-light: #c5dbcb;
  --failure: #d3263c;
  --failure-light: #dfc8cf;;
  --neutral: #5E89EE;
  --success-transparent: #52e58a4a;
  --failure-transparent: #d3263d67;
  --neutral-transparent: rgba(94, 137, 238, 0.3);
  --warning: #e6b93b;
  --warning-transparent: rgba(230, 185, 59, 0.3);
}

/* loading ring */

.lds-ring {
  display: inline-block;
  height: auto;
  position: relative;
  display: flex;
  width: 100%;
  font-size: 300%;
  justify-content: center;
  align-content: center;
  aspect-ratio: 1 / 1;
  align-items: center;
}

.lds-ring.small{
  width: 100%;
  font-size: 100%;
  aspect-ratio: 0;
}

.lds-ring.rectangle {
  aspect-ratio: 2 / 1;
}
.lds-ring.square {
  aspect-ratio: 1 / 1;
}
.lds-ring.short-rectangle {
  aspect-ratio: 3 / 1;
}
.lds-ring.tall-rectangle {
  aspect-ratio: 2 / 1;
}
.lds-ring div {
  -webkit-animation: lds-ring 1.2s cubic-bezier(.5,0,.5,1) infinite;
  animation: lds-ring 1.2s cubic-bezier(.5,0,.5,1) infinite;
  border: 0.1em solid transparent;
  border-radius: 50%;
  border-top-color: var(--lake);
  box-sizing: border-box;
  display: block;
  height: 1em;
  font-size: inherit;
  position: absolute;
  width: 1em;
}
.lds-ring.gold div {
  border-top-color: var(--borders-main);
}
.lds-ring.small div {
  border-width: 0.2em;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* end load ring */

/* skeleton styles */

.match.skeleton-loader {
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 15px;
  width: 100%;
  min-height: 237px;
  background: linear-gradient(to right, var(--foreground-primary) 0%, var(--foreground-secondary) 50%, var(--foreground-primary) 100%);
  animation: skeleton-loader 1s linear infinite;
  -webkit-animation: skeleton-loader 1s linear infinite;
}

@keyframes skeleton-loader {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
} 

@-webkit-keyframes skeleton-loader {
  0% {
    background-position: -32px;
  }
  40%, 100% {
    background-position: 208px;
  }
} 

/* general styles */

body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: var(--background-primary);
  color: var(--text-main);
}

/* scroll bar styles */

::-webkit-scrollbar-track {
  padding: 2px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  padding: 2px;
  background-color: var(--borders-accent);
}

/* end scroll bar styles */

.page {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.page.w-sidebar {
  display: flex;
  justify-content: space-evenly;
  max-width: 1700px;
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
}

.content {
  width: 100%;
  box-sizing: border-box;
  padding: 55px 0px 0px 250px;
  display: flex;
  justify-content: center;
}
.main-column {
  width: 70%;
  container-type: inline-size;
}

.side-column {
  width: 25%;
}

.column-50{
  width: 50%;
}

section {
  padding: 25px 25px 25px 25px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1500px;
  container-type: inline-size;
}

section.full-width {
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

section.row{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

img {
  max-width: 100%;
}

@media (max-width: 1400px) {
  .page.w-sidebar {
    flex-direction: column;
  }
  .main-column {
    width: 100%;
  }
  .side-column {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .content {
    padding: 65px 10px 10px 10px;
}
}

@media (max-width: 515px) {
  .challenge.card-container {
    flex-basis: calc(100%);
  }
  section {
    padding: 10px;
  }
}

@container (max-width: 1000px) {
  .column-50{
    width: 100%;
  }
  section.row{
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.tooltip {
  display: none;
  position: absolute;
  padding: 5px;
  font-size: 14px;
  z-index: 1;
  background-color: var(--background-secondary);
  color: var(--text-main);
}

/* text */

h2 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--heading-main);
}

a,p,div,table,ul,ol{
  font-size: 14px;
}

a{
  text-decoration: none;
  color: var(--links-main);
}
a:hover {
  color: var(--links-hover);
}

a.button, button {
    background-color: #00000000;
    border: 2px solid var(--button-primary);
    color: var(--button-primary);
    border-radius: 5px;
    padding: 8px;
    margin: 0px 5px;
    outline: none;
    cursor: pointer;
}

.info-blue, .label {
  font-size: 12px;
  color: var(--text-accent);
  font-style: italic;
}

.error-text{
  color: var(--text-failure);
}

button.btn-outline-danger {
  background: none;
  color: var(--button-failure);
}

a.button:hover , button:hover {
  background-color: var(--success-transparent);
}
.dot-spacer {
  margin: 5px 7px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--gold);
}

/* dropdown styles */

.dropDown-wrap {
  margin: 5px;
}

.dropDown-wrap.loading {
  color: var(--text-secondary);
}

.dropDown {
  box-sizing: border-box;
  margin-top: 5px;
  background-color: var(--foreground-secondary);
  position: relative;
  cursor: pointer;
  user-select: none;
}

.dropDown .list {
  display: none;
  position: absolute;
  background-color: var(--foreground-secondary);
  width: max-content;
  overflow: auto;
  max-height: 400px;
}

.dropDown .list::-webkit-scrollbar-track {
  padding: 2px;
}

.dropDown .list::-webkit-scrollbar {
  width: 7px;
}

.dropDown .list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  padding: 2px;
  background-color: var(--text-accent);
}

.dropDown .current {
  display: flex;
  padding: 5px 15px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
}

.dropDown .current :first-child{
  margin-right: 10px;
}

.dropDown:focus .list {
  display: flex;
  flex-direction: column;
}

.search:focus+.current+.list{
  display: flex;
  flex-direction: column;
}

.list .item {
  padding: 10px 10px;
}

.list .item:hover, .list .item.cursor {
  background-color: var(--background-secondary);
}

.not-list .arrow {
  display: none;
}

.list .arrow{
  transition: .1s;;
}

.dropDown:focus .current .arrow{
  transform: rotate(180deg);
}

.search:focus+.current .arrow{
  transform: rotate(180deg);
}
.search:focus+.current{
  position: absolute;
  box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: none;
}

.search:focus+.current :first-child{
  opacity: 0;
  font-size: 0;
}

.search{
  padding: 10px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  width: calc(100%);
  box-sizing: border-box;
}

.search:focus{
  opacity: 1;
  position: relative;
  min-width: 100px;
  padding-right: 30px
}
/** styles for listing with champ image **/
.champ-listing {
  display: flex;
  align-items: center;
}

.champ-listing .icon {
  max-width: 20px;
  display: flex;
  margin-right: 10px;
  align-items: center;
}

.champ-listing .icon img {
  border-width: 2px;
}
/* nav styles */

.nav {
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--foreground-primary);
  border-bottom: 1px solid var(--foreground-primary);
  position: fixed;
  width: 100vw;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  z-index: 2;
}

.nav a {
  margin-left: 5px;
}

.nav .checkbox {
  position: absolute;  
  top: 15px;
  display: none;
  height: 32px;
  width: 32px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav .hamburger-lines {
  display: none;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav .hamburger-lines .line {
  display: none;
  height: 3px;
  width: 100%;
  border-radius: 0px;
  background: var(--borders-main);
}

.nav .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.nav .active .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav .active .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav .active .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.loggedin-status {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.menu {
  position: fixed;
  display: flex;
  top: 55px;
  width: 250px;
  left: 0;
  border-right: 2px solid var(--foreground-primary);
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--midnight);
  height: calc(100vw - 55px);
}

.menu a, .menu .menuHead .menuHeadText{
  width: 100%;
  display: block;
  margin: 0px;
  padding: 20px;
  box-sizing: border-box;
  color: var(--heading-main);
  text-transform: uppercase;
  text-decoration: none;
}

.menu .menuHead .menuHeadArrow {
  width: 60px;
  font-size: 25px;
  display: flex;
    color: var(--heading-main);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: .1s;
    user-select: none;
}

.menu a:hover, .menu .menuHead:hover {
  background-color: var(--foreground-secondary);
}

.subMenu {
  padding-left: 0px;
  display: none;
  background-color: var(--background-secondary);
}

.subMenu.active {
  display: block;
  position: relative;
}

.menuHead.active .menuHeadArrow{
  transform: rotate(180deg);
}

.subMenu a {
  text-transform: none;
  padding: 10px;
  padding-left: 30px;
  color: var(--heading-secondary);
}

.menuHead {
  display: flex;
  align-items: center;
}

.menuItem {
  width: 100%;
}
@media (max-width: 900px) {
  .menu {
    width: 230px;
    background: var(--background-primary);
    left: -235px;
    height: calc(100vh - 55px);
    position: fixed;
    top: 55px;
    z-index: 1;
    flex-direction: column;
  }
  .subMenu.active{
    padding-left: 30px;
    display: block;
    position: relative;
  }
  .menu.active {
    left: 0px;
  }
  .nav .checkbox {
    display: block;
  }
  
  .nav .hamburger-lines {
    display: flex;
  }
  .nav .hamburger-lines .line {
    display: block;
  }
  
}
/*summoner card styles*/

.summoner-icon img {
  width: 50px;
  border-radius: 50%;
  border: 3px solid var(--borders-main);
}

.card-container .summoner-icon {
  padding: 0px 15px 0px 0px;
  box-sizing: border-box;
  width: 56px;
}

.card-container {
  border-radius: 5px;
  padding: 30px;
  display: flex;
  background-color: var(--foreground-primary);
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.summoner.card-container {
  border: 2px solid var(--foreground-primary);
}

.summoner.card-container:hover {
  border-color: var(--borders-accent);
}

.name-and-rank {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--foreground-secondary);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.desc {
  width: calc(100% - 56px);
  box-sizing: border-box;
}

.summoner-level {
  color: var(--text-main);
  font-size: 12px;
}

.summoner-name {
  color: var(--text-main);
}

.circle {
  width: 15px;
  height: 15px;
  background-color: var(--background-secondary);
  border-radius: 50%;
  margin-right: 3px;
}

.rank {
  display: flex;
}

.iron .circle {
  background-color: var(--iron);
}
.iron.rank {
  color: var(--iron);
}

.bronze .circle {
  background-color: var(--bronze);
}
.bronze.rank {
  color: var(--bronze);
}

.silver .circle {
  background-color: var(--silver);
}
.silver.rank {
  color: var(--silver);
}

.gold .circle {
  background-color: var(--gold);
}
.gold.rank {
  color: var(--gold);
}

.platinum .circle {
  background-color: var(--platinum);
}
.platinum.rank {
  color: var(--platinum);
}

.diamond .circle {
  background-color: var(--diamond);
}
.diamond.rank {
  color: var(--diamond);
}

.master .circle {
  background-color: var(--master);
}
.master.rank {
  color: var(--master);
}

.grandmaster .circle {
  background-color: var(--grandmaster);
}
.grandmaster.rank {
  color: var(--grandmaster);
}

.challenger .circle {
  background-color: var(--challenger);
}
.challenger.rank {
  color: var(--challenger);
}

/* home page */

/* summoner show page */

.summoner.page {
  flex-direction: column;
}

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filters select {
  padding: 10px;
  margin: 5px;
  color: var(--main-text);
  background-color: var(--foreground-secondary);
  border: none;
}

select.mode-filter {
  min-width: 230px;
}

select.position-filter {
  min-width: 120px;
}

select.limit-filter {
  min-width: 150px;
}

div.reset-filter {
  min-width: 100px;
  font-style: italic;
  color: var(--links-main);
  cursor: pointer;
  margin-left: 10px;
  margin-top: 20px;
}

.filter-loading{
  margin-top: 20px;
}

.summoner-stats {
  z-index: 1;
  position: relative;
}

.stats {
  display: flex;
  flex-wrap: wrap;
}

.summoner-stat-card .stat {
  font-size: 20px;
  font-weight: 800;
}

.summoner-stat-card .title {
  font-size: 12px;
  color: var(--text-secondary);
} 

.summoner-stat-card {
  min-width: 100px;
  min-height: 100px;
  background-color: var(--background-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
}

.summoner-header {
  padding: 50px;
  background-color: var(--background-secondary);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  container-type:inline-size;
}
.summoner-header .summoner-icon img {
  width: 190px;
}

.summoner-header .summoner-icon {
  padding: 0px 20px 20px 0px;
}

.summoner-header-inner-wrap{
  max-width: 1500px;
  display: flex;
  width: 100%;
  align-items: center; 
}

@container (max-width: 1030px) {
  .summoner-header-inner-wrap{
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 900px) {
  .summoner-header {
    padding: 15px;
  }
}

h1.summoner-name {
  margin: 0px 10px 0px 0px;
}

.delete-update-butt {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.update button.button {
  min-width: 62.69px;
  min-height: 31.33px;
}

.pre-text {
  font-size: 12px;
  color: var(--text-accent);
  font-style: italic;
}

.name-and-level {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.summoner-header .summoner-level {
  color: var(--text-accent);
  font-style: italic;
}

section.summoner-nav {
  padding: 0px;
  display: flex;
  justify-content: center;
  background-color: var(--background-secondary);
  max-width: 100%;
}

.summoner-nav a {
  padding: 20px;
  margin: 0px 5px;
}

.summoner-nav a:hover {
  background-color: var(--foreground-primary);
}

.summoner-nav a:active {
  background-color: var(--background-primary);
}

.undefined a#matches {
  background-color: var(--background-primary);
}

.challenges a#challenges {
  background-color: var(--background-primary);
}

.mastery a#mastery {
  background-color: var(--background-primary);
}

/* challenges */

.challenge.card-container {
  background: none;
  width: 25%;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: nowrap;
  padding: 10px;
  justify-content: left;
}
.challenge.card-container img{
  margin: 10px;
  border: none;
  width: 70px;
}
.challenge-ranking .list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  container-type: inline-size;
}
.challenge .summoner-name {
  width:100%;
  padding-bottom: 0px;
  font-size: 18px;
}
.challenge .challenge-name {
  font-size: 12px;
  color: var(--text-main);
  padding-bottom: 5px;
}
.challenge .percentile {
  font-size: 12px;
  color: var(--text-accent);
  font-style: italic;
}
.challenge .details {
  width: 90px;
}
.challenge.rank {
  color: var(--text-main);
  font-size: 30px;
  font-weight: 600;
  width: 35px;
  text-align: end;
  display: block;
}


/* listing mode styles */

.listing .challenge.card-container {
  width: 100%;
  border-bottom: 1px solid var(--text-main);
  border-radius: 0;
  justify-content: space-between;
}

.listing .challenge.card-container>div {
  display: flex;
  align-items: center;
}

.listing .challenge.card-container img {
  padding: 10px;
  width: 50px;
}

.listing .challenge .challenge-name {
  font-size: 14px;
  padding: 0px;
  width: 200px;
}


@container (max-width: 1030px) {
  .challenge.card-container {
    width: 100%;
    min-width: 240px;
    flex-basis: calc(33% - 15px);
  }
}

@container (max-width: 700px) {
  .challenge.card-container {
    padding: 5px;
    flex-basis: calc(50% - 18px);
  }
}

@container (max-width: 515px) {
  .challenge.card-container {
    flex-basis: calc(100%);
  }
}

/* mastery */
.mastery-ranking .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  align-content: flex-start;
  container-type: inline-size;
}

.mastery.card-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 240px;
  flex-basis: calc(20% - 18px);
  margin: 9px;
}

.icon img{
  width: 70px;
  border-radius: 50%;
  border: 3px solid var(--borders-main);
}

.mastery .champion-name {
  font-size: 18px;
  color: var(--heading-main);
}

.mastery .summoner-name {
  padding: 3px 0px 20px 0px;
}

.mastery .details {
  display: flex;
  color: var(--text-accent);
  align-items: center;
  font-size: 12px;
}

@container (max-width: 1580px) {
  .mastery.card-container {
    width: 100%;
    min-width: 240px;
    flex-basis: calc(25% - 18px);
  }
}

@container (max-width: 1030px) {
  .mastery.card-container {
    width: 100%;
    min-width: 240px;
    flex-basis: calc(33% - 18px);
  }
}

@container (max-width: 900px) {
  .mastery.card-container {
    flex-basis: calc(50% - 18px);
  }
}

@container (max-width: 515px) {
  .mastery.card-container {
    flex-basis: calc(100%);
  }
}

/** match history **/

.match-list .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.match-card {
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  width: 100%;
  background-color: var(--foreground-primary);
  border-radius: 5px;
  container-type: inline-size;
  overflow: hidden ;
}

.match-summary-team-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@container (max-width: 900px) {
  .match-summary{
    flex-direction: column;
  }
}

.match-summary-head {
    display: flex;
    gap: 40px;
}

.match-summary-teams {
  display: flex;
}

.match-summary-team-list .kd {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.kd .kills {
  font-size: 20px;
}

.kills.victory {
  color: var(--text-success);
}

.kills.defeat {
  color: var(--text-failure);
}

.match-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.match-summary .player {
  display: flex;
  align-items: center;
}

/* kda styles */

.kda .bad {
  color: var(--text-failure);
  font-weight: bold;
}

.kda .good {
  color: var(--text-success);
  font-weight: bold;
}

.player-kda {
  display: flex;
  flex-direction: column;
  /* align-content: center; */
  align-items: flex-start;
}

.player-kda .kda {
  font-size: 15px;
}

.player-kda .kda-score {
  font-size: 12px;
  display: flex;
  gap: 3px;
}

/* end kda styles */

.team-100 .player {
  flex-direction: row-reverse;
}

.match-summary .player img {
  max-width: 25px;
  border: 2px solid var(--borders-main);
  border-radius: 25px;
}

.position-icons img {
  max-width: 20px;
  padding: 4.5px 5px;
}

.position-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-list {
  min-width: 150px;
  max-width: 150px;
  text-overflow: ellipsis;
}

.team-list .summoner-name {
  color: var(--text-secondary);
  font-size: 12px;
}

.team-200 .summoner-name {
  padding-left: 5px;
}

.team-100 .summoner-name {
  padding-right: 5px;
}

.focused-match-summary {
  display: flex;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  margin: 10px 0px;
  border-radius: 5px;
  border-radius: 5px;
  gap: 25px;
  container-type:inline-size;
}

.victory.focused-match-summary {
  border-color: var(--success-transparent);
  /* make background color a gradient between transparent and --success-transparent, transparent side on the right*/
  background: linear-gradient(to right, var(--success-transparent), transparent);
}

.defeat.focused-match-summary {
  border-color: var(--failure-transparent);
  /* make background color a gradient between transparent and --failure-transparent, transparent side on the right*/
  background: linear-gradient(to right, var(--failure-transparent), transparent);
} 

.info-wrap {
  display: grid;
  flex-grow: 1;
  gap: 10px;
  grid-template-columns: 100px auto;
}

@container (max-width: 420px) {
  .info-wrap {
    flex-direction: column;
    grid-template-columns: 70px auto;
  }

  .info-wrap .player-cs-and-gold {
    align-items: flex-start;
    display: flex;
    gap: 3px;
    width: 100%;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;

  }

  .info-wrap .player-damage-and-kill-participation {
    text-align: end;
  }

  .info-wrap .match-details-head{
    align-items: flex-end;
  }

  .info-wrap .summoner-champ-wrapper div:nth-child(3){
    display: none;
  }

  .info-wrap .summoner-champ-wrapper {
    flex-wrap: wrap;
}
  .info-wrap .summoner-name {
  flex-basis: calc(100% - 30px);
  }
  .info-wrap .champion-icon {
    max-width: 60px;
    border: 2px solid;   
  }
  .info-wrap .champion-icon-and-spells{
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .info-wrap .stats-wrapper {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
  }
  .info-wrap .champion-name, .info-wrap .team-position {
    font-size: 12px;
  }
  
}
@container (max-width: 670px) {
  .items-spells-wrap .player-items {
    max-width: 250px;
    gap: 4px;
  }
  .items-spells-wrap{
    justify-content: space-between;
  }
  .items-spells-wrap .player-spells,  .items-spells-wrap .player-runes{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
}

@container (max-width: 460px) {

  .items-spells-wrap .player-items, .player-trinket {
    max-width: 100px;
    gap: 2px;
  }
}

@container (max-width: 360px) {

  .items-spells-wrap .player-spells,  .items-spells-wrap .player-runes{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
  }
}

.items-spells-wrap {
  display: flex;
  flex-grow: 1;
  gap: 10px;
}

.match-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.match-summary-focus {
  flex-grow: 1;
  width: 100%;
}

.match-details-head .summoner-icon img {
  width: 20px;
  border-width: 2px;
}

.match-summary-team-list {
  min-width: 399px;
  display: flex;
  justify-content: center;
}

.match-card-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 15px 20px 5px 20px;
  margin: -15px -15px 10px -15px;
  border-bottom: 2px solid var(--foreground-secondary);
  align-items: center;
}

.match-card-header>div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.match-card-header-duration {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}

.champion-icon-and-spells {
  display: flex;
  align-items: center;
  gap: 10px;
  grid-row-start: 1;
  grid-row-end: 3;
}


@media (max-width: 900px) {
  .match-card-header {
    flex-direction: column;
    align-items: flex-start;
  }
}

.player-spells-and-runes {
  display: flex;
  gap: 10px;
}

.champion-icon {
  border-radius: 100%;
  max-width: 80px;
  border: 4px solid;
}

.defeat .champion-icon {
  border-color: var(--borders-failure);
}

.victory .champion-icon {
  border-color: var(--borders-success);
}

.summoner-champ-wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.stats-wrapper>div {
  min-width: 80px;
}

/* stat details section styles */

.player-cs-and-gold {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: flex-end;
}

.player-cs-and-gold div{
  font-size: 12px;
}

.damage-to-champions {
  font-size: 12px;
}

.kill-participation {
  font-size: 15px;
}

.kill-participation.good {
  color: var(--text-success);
}

.kill-participation.bad {
  color: var(--text-failure);
}

.gold-earned:hover .tooltip{
  display: block;
}

.player-cs:hover .tooltip {
  display: block;
}

.wards-placed:hover .tooltip {
  display: block;
}


/* end stat details section styles */

/* items styles */

.player-items, .player-trinket {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  max-width: 100px;
  justify-content: center;
  justify-content: flex-end;
}

.player-items img, .player-trinket img, .spell-icon{
  width: 30px;
  border: 1px solid var(--borders-dark);
}

.player-runes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.rune-icon {
  width: 30px;
  border: 1px ;
}

.rune-icon:last-child {
  width: 20px;
}

.item-icon:hover .tooltip, .item-icon:hover .tooltip, .spell-icon:hover .tooltip, .rune-icon:hover .tooltip {
  display: block;
}

.blank-icon {
  width: 30px;
  background-color: var(--background-secondary);
  height: 30px;
  border: 1px solid var(--background-secondary);
}

.player-equipped {
  min-width: 150px;
}

.player-equipped {
  display: flex;
  align-items: center;
  gap: 5px;
}

.item-icon, .spell-icon, .rune-icon {
  max-height: 31px;
}

/* end items styles */


.victory .match-details-head  {
  border-color: var(--success-transparent);
}

.defeat .match-details-head  {
  border-color: var(--failure-transparent);
}

.stats-wrapper {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;  
  flex-wrap: wrap;
  grid-column-start: 2;
}

.victory .stats-wrapper {
  color: var(--text-success-light);
}

.defeat .stats-wrapper {
  color: var(--text-failure-light);
}

.match-details-head {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  padding-bottom: 5px;
  border-bottom: 1px solid;
}

.match-details-head  .win {
  font-style: italic;
}

.victory .match-details-head .win{
  color: var(--text-success);
}

.defeat .match-details-head .win {
  color: var(--text-failure);
}

/* end match history */

/* login and register page */

.login-page {
  width: 100%;
  height: calc(100vh - 55px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form.login-form {
  background: var(--foreground-secondary);
  display: flex;
  padding: 48px;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
}

input.form-control {
  background-color: var(--foreground-primary) !important;
  color: var(--text-main) !important;
  border: none;
  padding: 10px;
}

.form-disclaimer {
  text-align: center;
  width: 300px;
  padding: 20px;
  color: var(--text-secondary);
}

/** end login and register page **/

/* summoner add page */

.add-summoner-page {
  width: 100%;
  height: calc(100vh - 55px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.add-summoner-page .add-summoner-form {
  background: var(--foreground-secondary);
  display: flex;
  padding: 48px;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 300px;
}

.add-summoner-form input, .add-summoner-form select {
  background-color: var(--foreground-primary) !important;
  color: var(--text-main) !important;
  border: none;
  padding: 10px;
}

.add-summoner-form .form-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* end summoner add page */

/* champion listing page */
a.ChampionDetailsCard {
  background: var(--primary-blue);
  display: flex;
  margin-bottom: 20px;
}

a.ChampionDetailsCard .splash{
  width:50%
}

a.ChampionDetailsCard .details{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: beginning;
}

