@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
   /*main colors*/
  --midnight: #0C0C21;
  --deep-sea: #091531;
  --primary-blue: #121E3A;
  --lake: #1D2D54;
  --evening-blue: #5E89EE;
  --gold: #C99A54;
  --hover-gold: #b1751b;
  --text-main: #ffffff;

  /*rank colors*/
  --iron: #484443;
  --bronze: #7c574a;
  --silver: #6d7376;
  --platinum: #41c1b2;
  --diamond: #426dc5;
  --master: #a156a8;
  --grandmaster: #99404c;
  --challenger:#dfc154;
}

/* loading ring */

.lds-ring {
  display: inline-block;
  height: auto;
  position: relative;
  display: flex;
  width: 100%;
  font-size: 300%;
  justify-content: center;
  align-content: center;
  aspect-ratio: 1 / 1;
  align-items: center;
}
.lds-ring.rectangle {
  aspect-ratio: 2 / 1;
}
.lds-ring.short-rectangle {
  aspect-ratio: 3 / 1;
}
.lds-ring.tall-rectangle {
  aspect-ratio: 2 / 1;
}
.lds-ring div {
  -webkit-animation: lds-ring 1.2s cubic-bezier(.5,0,.5,1) infinite;
  animation: lds-ring 1.2s cubic-bezier(.5,0,.5,1) infinite;
  border: 0.1em solid transparent;
  border-radius: 50%;
  border-top-color: var(--lake);
  box-sizing: border-box;
  display: block;
  height: 1em;
  font-size: inherit;
  position: absolute;
  width: 1em;
}
.lds-ring.gold div {
  border-top-color: var(--gold);
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* end load ring */

body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: var( --midnight);
  color: var(--text-main)
}

.page {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  width: 100%;
  align-items: center;
}
.page.w-sidebar {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  max-width: 1700px;
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
}

.content {
  width: 100vw;
  box-sizing: border-box;
  padding: 65px 10px 10px 240px;
  display: flex;
  justify-content: center;
}
.main-column {
  width: 70%;
}

.side-column {
  width: 25%;
}

section {
  margin: 0px 0px 50px 0px;
  width: 100%;
  max-width: 1500px;
}

img {
  max-width: 100%;
}

@media (max-width: 1400px) {
  .page.w-sidebar {
    flex-direction: column;
  }
  .main-column {
    width: 100%;
  }
  .side-column {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .challenge.card-container {
    padding: 5px;
    flex-basis: calc(50% - 18px);
  }
}

@media (max-width: 515px) {
  .challenge.card-container {
    flex-basis: calc(100%);
  }
}

/* text */

h2 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--gold);
}

a,p,div,table,ul,ol{
  font-size: 14px;
}

a{
  text-decoration: none;
  color: var(--gold);
}
a:hover {
  color: var(--evening-blue);
}

a.button , button{
  background-color: var(--gold);
  color: var(--text-main);
  border-radius: 5px;
  padding: 5px;
  margin: 0px 5px;
  outline: none;
  border: none;
}
a.button:hover , button {
  background-color: var(--hover-gold);
}
.dot-spacer {
  margin: 5px 7px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--gold);
}



.nav {
  height: 54px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--deep-sea);
  border-bottom: 1px solid var(--gold);
  position: fixed;
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1;
}

.nav a {
  padding: 5px;
  font-size: 14px;
  margin-left: 5px;
}
.nav a.button {
  background-color: var(--gold);
  color: var(--text-main);
}

.nav a.button:hover {
  background-color: var(--hover-gold);
}
.menu {
  width: 230px;
  background: var(--primary-blue);
  height: calc(100vh - 55px);
  position: fixed;
  top: 55px;
}

.menu a {
  width: 100%;
  display: block;
  padding: 20px;
  box-sizing: border-box;
  color: var(--gold);
  text-transform: uppercase;
  text-decoration: none;
}

.menu a:hover {
  background-color: var(--lake);
}

/*summoner card styles*/
.ShowSummonerList .list {
  max-width: 345px;
}

.summoner-icon img {
  width: 50px;
  border-radius: 50%;
  border: 3px solid var(--gold);
}

.card-container {
  border-radius: 5px;
  padding: 30px;
  display: flex;
  background-color: var(--primary-blue);
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.name-and-rank {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--lake);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.desc {
  width: calc(100% - 56px);
  padding-left: 20px;
  box-sizing: border-box;
}

.summoner-level {
  color: var(--text-main);
  font-size: 12px;
}

.summoner-name {
  color: var(--text-main);
}

.circle {
  width: 15px;
  height: 15px;
  background-color: var(--midnight);
  border-radius: 50%;
  margin-right: 3px;
}

.rank {
  display: flex;
}

.iron .circle {
  background-color: var(--iron);
}
.iron.rank {
  color: var(--iron);
}

.bronze .circle {
  background-color: var(--bronze);
}
.bronze.rank {
  color: var(--bronze);
}

.silver .circle {
  background-color: var(--silver);
}
.silver.rank {
  color: var(--silver);
}

.gold .circle {
  background-color: var(--gold);
}
.gold.rank {
  color: var(--gold);
}

.platinum .circle {
  background-color: var(--platinum);
}
.platinum.rank {
  color: var(--platinum);
}

.diamond .circle {
  background-color: var(--diamond);
}
.diamond.rank {
  color: var(--diamond);
}

.master .circle {
  background-color: var(--master);
}
.master.rank {
  color: var(--master);
}

.grandmaster .circle {
  background-color: var(--grandmaster);
}
.grandmaster.rank {
  color: var(--grandmaster);
}

.challenger .circle {
  background-color: var(--challenger);
}
.challenger.rank {
  color: var(--challenger);
}

/* home page */

/* summoner show page */

.summoner.page {
  flex-direction: column;
}

/* challenges */

.challenge.card-container {
  background: none;
  width: 25%;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: nowrap;
  padding: 10px;
  justify-content: left;
}
.challenge.card-container img{
  width: 70px;
  padding: 10px;
}
.challenge-ranking .list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  container-type: inline-size;
}
.challenge .summoner-name {
  width:100%;
  padding-bottom: 0px;
  font-size: 18px;
}
.challenge .challenge-name {
  font-size: 12px;
  color: var(--text-main);
  padding-bottom: 5px;
}
.challenge .percentile {
  font-size: 12px;
  color: var(--evening-blue);
  font-style: italic;
}
.challenge .details {
  width: 90px;
}
.challenge.rank {
  color: var(--gold);
  font-size: 30px;
  font-weight: 600;
  width: 35px;
  text-align: end;
  display: block;
}

@container (max-width: 1030px) {
  .challenge.card-container {
    width: 100%;
    min-width: 240px;
    flex-basis: calc(33% - 15px);
  }
}

@container (max-width: 700px) {
  .challenge.card-container {
    padding: 5px;
    flex-basis: calc(50% - 18px);
  }
}

@container (max-width: 515px) {
  .challenge.card-container {
    flex-basis: calc(100%);
  }
}

/* mastery */
.mastery-ranking .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  align-content: flex-start;
  container-type: inline-size;
}

.mastery.card-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 240px;
  flex-basis: calc(25% - 18px);
  margin: 9px;
}

.mastery.icon img {
  width: 70px;
  border-radius: 50%;
  border: 3px solid var(--gold);
}

.mastery .champion-name {
  font-size: 18px;
  color: var(--gold);
}

.mastery .summoner-name {
  padding: 3px 0px 20px 0px;
}

.mastery .details {
  display: flex;
  color: var(--evening-blue);
  align-items: center;
  font-size: 12px;
}

@container (max-width: 1030px) {
  .mastery.card-container {
    width: 100%;
    min-width: 240px;
    flex-basis: calc(33% - 15px);
  }
}

@container (max-width: 900px) {
  .mastery.card-container {
    flex-basis: calc(50% - 18px);
  }
}

@container (max-width: 515px) {
  .mastery.card-container {
    flex-basis: calc(100%);
  }
}