@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
   /*main colors*/
  --midnight: #0C0C21;
  --deep-sea: #091531;
  --primary-blue: #121E3A;
  --lake: #1D2D54;
  --evening-blue: #5E89EE;
  --gold: #C99A54;
  --hover-gold: #b1751b;
  --text-main: #ffffff;

  /*rank colors*/
  --iron: #484443;
  --bronze: #7c574a;
  --silver: #6d7376;
  --platinum: #41c1b2;
  --diamond: #426dc5;
  --master: #a156a8;
  --grandmaster: #99404c;
  --challenger:#dfc154;
}

/* loading ring */

.lds-ring {
  display: inline-block;
  height: auto;
  position: relative;
  display: flex;
  width: 100%;
  font-size: 300%;
  justify-content: center;
  align-content: center;
  aspect-ratio: 1 / 1;
  align-items: center;
}

.lds-ring.small{
  width: 100%;
  font-size: 100%;
  aspect-ratio: 0;
}

.lds-ring.rectangle {
  aspect-ratio: 2 / 1;
}
.lds-ring.square {
  aspect-ratio: 1 / 1;
}
.lds-ring.short-rectangle {
  aspect-ratio: 3 / 1;
}
.lds-ring.tall-rectangle {
  aspect-ratio: 2 / 1;
}
.lds-ring div {
  -webkit-animation: lds-ring 1.2s cubic-bezier(.5,0,.5,1) infinite;
  animation: lds-ring 1.2s cubic-bezier(.5,0,.5,1) infinite;
  border: 0.1em solid transparent;
  border-radius: 50%;
  border-top-color: var(--lake);
  box-sizing: border-box;
  display: block;
  height: 1em;
  font-size: inherit;
  position: absolute;
  width: 1em;
}
.lds-ring.gold div {
  border-top-color: var(--gold);
}
.lds-ring.small div {
  border-width: 0.2em;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* end load ring */

body{
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: var( --midnight);
  color: var(--text-main)
}

.page {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}
.page.w-sidebar {
  display: flex;
  justify-content: space-evenly;
  max-width: 1700px;
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
}

.content {
  width: 100vw;
  box-sizing: border-box;
  padding: 55px 10px 10px 230px;
  display: flex;
  justify-content: center;
}
.main-column {
  width: 70%;
}

.side-column {
  width: 25%;
}

section {
  padding: 25px 25px 25px 25px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1500px;
}

section.full-width {
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
}

img {
  max-width: 100%;
}

@media (max-width: 1400px) {
  .page.w-sidebar {
    flex-direction: column;
  }
  .main-column {
    width: 100%;
  }
  .side-column {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .content {
    padding: 65px 10px 10px 10px;
}
}

@media (max-width: 515px) {
  .challenge.card-container {
    flex-basis: calc(100%);
  }
}

/* text */

h2 {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--gold);
}

a,p,div,table,ul,ol{
  font-size: 14px;
}

a{
  text-decoration: none;
  color: var(--gold);
}
a:hover {
  color: var(--evening-blue);
}

a.button , button{
  background-color: var(--gold);
  color: var(--text-main);
  border-radius: 5px;
  padding: 8px;
  margin: 0px 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

button.btn-outline-danger {
  background: none;
  color: var(--grandmaster);
}

a.button:hover , button {
  background-color: var(--hover-gold);
}
.dot-spacer {
  margin: 5px 7px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--gold);
}



.nav {
  height: 54px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--primary-blue);
  border-bottom: 1px solid var(--primary-blue);
  position: fixed;
  width: 100vw;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  z-index: 1;
}

.nav a {
  margin-left: 5px;
}
.nav a.button {
  background-color: var(--gold);
  color: var(--text-main);
}

.nav a.button:hover {
  background-color: var(--hover-gold);
}

.nav .checkbox {
  position: absolute;  
  top: 15px;
  display: none;
  height: 32px;
  width: 32px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav .hamburger-lines {
  display: none;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav .hamburger-lines .line {
  display: none;
  height: 3px;
  width: 100%;
  border-radius: 0px;
  background: var(--gold);
}

.nav .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.nav .active .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav .active .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav .active .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.loggedin-status {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.menu {
  width: 230px;
  background: var(--primary-blue);
  height: calc(100vh - 55px);
  position: fixed;
  top: 55px;
  z-index: 1;
}

.menu a, .menu .menuHead .menuHeadText{
  width: 100%;
  display: block;
  padding: 20px;
  box-sizing: border-box;
  color: var(--gold);
  text-transform: uppercase;
  text-decoration: none;
}

.menu .menuHead .menuHeadArrow {
  width: 60px;
  font-size: 25px;
  display: flex;
    color: var(--gold);
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: .1s;
    user-select: none;
}

.menu a:hover, .menu .menuHead:hover {
  background-color: var(--lake);
}

.subMenu {
  padding-left: 30px;
  display: none;
}

.subMenu.active{
  display: block;
}

.menuHead.active .menuHeadArrow{
  transform: rotate(90deg);
}

.subMenu a {
  text-transform: none;
  padding: 10px;
  color: white;
}

.menuHead {
  display: flex;
  align-items: center;
}

@media (max-width: 900px) {
  .menu {
    left: -235px;
  }
  .menu.active {
    left: 0px;
  }
  .nav .checkbox {
    display: block;
  }
  
  .nav .hamburger-lines {
    display: flex;
  }
  .nav .hamburger-lines .line {
    display: block;
  }
  
}
/*summoner card styles*/

.summoner-icon img {
  width: 50px;
  border-radius: 50%;
  border: 3px solid var(--gold);
}

.card-container {
  border-radius: 5px;
  padding: 30px;
  display: flex;
  background-color: var(--primary-blue);
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.name-and-rank {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--lake);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.desc {
  width: calc(100% - 56px);
  padding-left: 20px;
  box-sizing: border-box;
}

.summoner-level {
  color: var(--text-main);
  font-size: 12px;
}

.summoner-name {
  color: var(--text-main);
}

.circle {
  width: 15px;
  height: 15px;
  background-color: var(--midnight);
  border-radius: 50%;
  margin-right: 3px;
}

.rank {
  display: flex;
}

.iron .circle {
  background-color: var(--iron);
}
.iron.rank {
  color: var(--iron);
}

.bronze .circle {
  background-color: var(--bronze);
}
.bronze.rank {
  color: var(--bronze);
}

.silver .circle {
  background-color: var(--silver);
}
.silver.rank {
  color: var(--silver);
}

.gold .circle {
  background-color: var(--gold);
}
.gold.rank {
  color: var(--gold);
}

.platinum .circle {
  background-color: var(--platinum);
}
.platinum.rank {
  color: var(--platinum);
}

.diamond .circle {
  background-color: var(--diamond);
}
.diamond.rank {
  color: var(--diamond);
}

.master .circle {
  background-color: var(--master);
}
.master.rank {
  color: var(--master);
}

.grandmaster .circle {
  background-color: var(--grandmaster);
}
.grandmaster.rank {
  color: var(--grandmaster);
}

.challenger .circle {
  background-color: var(--challenger);
}
.challenger.rank {
  color: var(--challenger);
}

/* home page */

/* summoner show page */

.summoner.page {
  flex-direction: column;
}

.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.filters select {
  padding: 10px;
  margin: 5px;
  color: var(--main-text);
  background-color: var(--lake);
  border: none;
}

select.mode-filter {
  min-width: 230px;
}

select.position-filter {
  min-width: 120px;
}

select.limit-filter {
  min-width: 150px;
}

a.reset-filter {
  min-width: 100px;
  font-style: italic;
  margin-left: 10px;
}


.stats {
  display: flex;
  flex-wrap: wrap;
}

.summoner-stat-card .stat {
  font-size: 20px;
  font-weight: 800;
}

.summoner-stat-card .title {
  font-size: 12px;
  color: #7a859e;
} 

.summoner-stat-card {
  min-width: 100px;
  min-height: 100px;
  background-color: var(--midnight);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  margin: 5px;
}

.summoner-header {
  padding: 50px;
  background-color: var(--deep-sea);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  container-type:inline-size;
}
.summoner-header .summoner-icon img {
  width: 190px;
}

.summoner-header-inner-wrap{
  max-width: 1500px;
  display: flex;
  width: 100%;
  align-items: center; 
}

@container (max-width: 1030px) {
  .summoner-header-inner-wrap{
    flex-direction: column;
    align-items: flex-start;
  }
}

h1.summoner-name {
  margin: 0px 10px 0px 0px;
}

.delete-update-butt {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.update button.button {
  min-width: 62.69px;
  min-height: 31.33px;
}

.pre-text {
  font-size: 12px;
  color: var(--evening-blue);
  font-style: italic;
}

.name-and-level {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

.summoner-header .summoner-level {
  color: var(--evening-blue);
  font-style: italic;
}

section.summoner-nav {
  padding: 0px;
  display: flex;
  justify-content: center;
  background-color: var(--deep-sea);
  max-width: 100%;
}

.summoner-nav a {
  padding: 20px;
  margin: 0px 5px;
}

.summoner-nav a:hover {
  background-color: var(--primary-blue);
}

.summoner-nav a:active {
  background-color: var(--midnight);
}

.undefined a#mastery {
  background-color: var(--midnight);
}

.challenges a#challenges {
  background-color: var(--midnight);
}

.mastery a#mastery {
  background-color: var(--midnight);
}

/* challenges */

.challenge.card-container {
  background: none;
  width: 25%;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  flex-wrap: nowrap;
  padding: 10px;
  justify-content: left;
}
.challenge.card-container img{
  width: 70px;
  padding: 10px;
}
.challenge-ranking .list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  container-type: inline-size;
}
.challenge .summoner-name {
  width:100%;
  padding-bottom: 0px;
  font-size: 18px;
}
.challenge .challenge-name {
  font-size: 12px;
  color: var(--text-main);
  padding-bottom: 5px;
}
.challenge .percentile {
  font-size: 12px;
  color: var(--evening-blue);
  font-style: italic;
}
.challenge .details {
  width: 90px;
}
.challenge.rank {
  color: var(--gold);
  font-size: 30px;
  font-weight: 600;
  width: 35px;
  text-align: end;
  display: block;
}


/* listing mode styles */

.listing .challenge.card-container {
  width: 100%;
  border-bottom: 1px solid var(--gold);
  border-radius: 0;
  justify-content: space-between;
}

.listing .challenge.card-container>div {
  display: flex;
  align-items: center;
}

.listing .challenge.card-container img {
  padding: 10px;
  width: 50px;
}

.listing .challenge .challenge-name {
  font-size: 14px;
  padding: 0px;
  width: 200px;
}


@container (max-width: 1030px) {
  .challenge.card-container {
    width: 100%;
    min-width: 240px;
    flex-basis: calc(33% - 15px);
  }
}

@container (max-width: 700px) {
  .challenge.card-container {
    padding: 5px;
    flex-basis: calc(50% - 18px);
  }
}

@container (max-width: 515px) {
  .challenge.card-container {
    flex-basis: calc(100%);
  }
}

/* mastery */
.mastery-ranking .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  align-content: flex-start;
  container-type: inline-size;
}

.mastery.card-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 240px;
  flex-basis: calc(20% - 18px);
  margin: 9px;
}

.mastery.icon img {
  width: 70px;
  border-radius: 50%;
  border: 3px solid var(--gold);
}

.mastery .champion-name {
  font-size: 18px;
  color: var(--gold);
}

.mastery .summoner-name {
  padding: 3px 0px 20px 0px;
}

.mastery .details {
  display: flex;
  color: var(--evening-blue);
  align-items: center;
  font-size: 12px;
}

@container (max-width: 1580px) {
  .mastery.card-container {
    width: 100%;
    min-width: 240px;
    flex-basis: calc(25% - 18px);
  }
}

@container (max-width: 1030px) {
  .mastery.card-container {
    width: 100%;
    min-width: 240px;
    flex-basis: calc(33% - 18px);
  }
}

@container (max-width: 900px) {
  .mastery.card-container {
    flex-basis: calc(50% - 18px);
  }
}

@container (max-width: 515px) {
  .mastery.card-container {
    flex-basis: calc(100%);
  }
}