

.key-stats-tags{
  align-items: end;
}

.key-stats-tags>div {
  justify-content: end;
}

@container (max-width: 500px) {
  .key-stats-tags>div {
    justify-content: left;
  }
  .key-stats-tags{
    align-items: start;
  }
}

.participant-card{
  background: none;
  position: relative;
}

.participant-card:before{
  content: '';
  display: block;
  height: 0px;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 1rem;
  left: 1rem;
  border-bottom: 2px solid var(--mantine-color-dark-6);
}

.participant-card:first-child:before{
  border-bottom: none;
}

.participant-card>div>div>div{
  min-height: 90px;
}

.tag-options>div>div>div>div>div{
  display: flex !important;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag-option.m_92253aa5{
  padding: 0px;
}

.tag-option.m_92253aa5>div:hover{
  outline: 2px solid var(--mantine-color-blue-5);
  cursor: pointer;
}

/* aria is selected */
.tag-option.m_92253aa5[aria-selected="true"]>div{
  outline: 2px solid var(--mantine-color-blue-5);
}

.match-participant {
  max-width: 65%;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

